# Prerequisites
*.d 

#Compiled object files
*.slo
*.lo
*.o
*.obj 

#Precompiled headers
*.gch
*.pch

#Compiled dynamic libraries
*.slo
*.dylib
*.dll

#Fortran module files
*.mod
*.smod

#Compiled static libraries
*.lai 
*.la 
*.a
*.lib 

#Executables
*.exe 
*.out
*.app

#Abraham
/Proyecto1/*
/Proyecto0/*